<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #bad7f2;
        }

        table.customTable {
            width: 100%;
            background-color: #FFFFFF;
            border-collapse: collapse;
            border-width: 2px;
            border-color: #BEF8A1;
            border-style: solid;
            color: #000000;
        }

        table.customTable td,
        table.customTable th {
            border-width: 2px;
            border-color: #BEF8A1;
            border-style: solid;
            padding: 5px;
        }

        table.customTable thead {
            background-color: #BEF8A1;
        }
    </style>
</head>

<body>
    <div class="container" id="container_app_vue">

        <form v-if="!is_login">
            <fieldset>
                <legend>
                    Email:
                </legend>
                <input v-model="email" type="email" placeholder="write here" name="">
            </fieldset>

            <fieldset>
                <legend>
                    Password:
                </legend>
                <input  v-model="password" type="password" placeholder="write here" name="">
            </fieldset>

            <button @click="login" type="button">
                Access
            </button>

        </form>

        <div v-if="is_login"> 

        <table class="customTable" >
            <thead>
                <tr>
                    <th>
                        Personal data
                    </th>
                    <th>
                        Contact data
                    </th>
                    <th>
                        Company data
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody>
            <tr v-for="u in users">
                <td>
                    {{u.name}}, {{u.username}}
                </td>
                <td>
                    {{u.email}}, {{u.phone}}
                </td>
                <td>
                    {{u.company.name}}, {{u.bs}}
                </td>
                <td>
                    <button @click="edit(u)" >
                        Edit
                    </button>
                    <button @click="remove(u.id)" >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
        </table>

        <button @click="action='add'">
            Add new record
        </button>

        <div class="rendered-form" v-if="action=='add'">
            <div class="">
                <h1 access="false"> Add new user in list&nbsp;</h1>
            </div>
            <div>
                <label for="text-">Full name</label>
                <imput v-model="new_user.name" type="text">
            </div>
            <div>
                <label for="text-">Email</label>
                <imput v-model="new_user.email" type="text">
            </div>
            <div>
                <label for="text-">Company name</label>
                <imput v-model="new_user.company_name" type="text">
            </div>
            <div>
                <button type="submit" @click="save('create')">Save user data</button>
            </div>


            <div class="rendered-form" v-if="action=='edit'">
                <div class="">
                    <h1 access="false"> Edit user</h1>
                </div>
                <div>
                    <label for="text-">Full name</label>
                    <imput v-model="new_user.name" type="text">
                </div>
                <div>
                    <label for="text-">Email</label>
                    <imput v-model="new_user.email" type="text">
                </div>
                <div>
                    <label for="text-">Company name</label>
                    <imput v-model="new_user.company_name" type="text">
                </div>
                <input type="hidden" v-model="new_user.id">
                <div>
                    <button type="submit" @click="save('update')">save user data</button>
                </div>
    


        </div>

        </div>
        <!-- Generated at CSSPortal.com -->



        <!-- <h1> Hola {{ name }}</h1>

        <input type="text" v-model="name" name="">

        <br><br>

        <button @click="count++">
            Count is: {{ count }}
        </button>

        <br><br>

        <input type="" v-model="numero1" name="">
        <br>
        <input type="" v-model="numero2" name="">
        <br><br>
        <button @click="result=((+numero1)+(+numero2))">
            Suma
        </button>

        <h3>Resultado <span v-if="result!=0"> {{result}} </span></h3>

        <hr>

        <ul>
            <li v-for ="item in persons">
                {{item.name}} - {{item.lastname}}
        </ul>
        <form>

            <fieldset>
                <legend>
                    Nombre(s):
                </legend>
                <input type = "text" v-model="username" name="">
            </fieldset>

            <fieldset>
                <legend>
                    Apellido(s):
                </legend>
                <input type = "text" v-model="lastname" name="">
            </fieldset>

            <button type="button" v-on:click="addPerson">
                Save data
            </button>

        </form>

        <h3>Resultado : <span v-if="result!=0"> {{ result }}</span> </h3> -->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
        const { createApp, ref } = Vue

        createApp({
            setup() {
                users = ref([]);
                action = ref('');
                email = ref('');
                password = ref('');
                new_user =ref([]);

                let tmp = localStorage.getItem("is_login");
                if(tmp == null){
                    tmp=false
                }
                is_login = ref(tmp)

                return {
                    users,
                    email,
                    password,
                    is_login,
                    action,
                    new_user
                }
            },

            mounted: function(){
                const getUsers = async() =>{

                    const response = await fetch("users.json?v=1.1");
                    const tmp_users = await response.json();
                    this.users = tmp_users;
                }
                if(this.is_login){
                    getUsers()
                }

            },

            methods: {
                async login() {
                    const response = await fetch("users.json?v=1");
                    const users = await response.json();

                    this.is_login = false;

                    users.forEach((user) => {

                        if (this.email == user.email) {
                            if (this.password == user.password) {
                                this.is_login = true;
                                alert("Bienvenido")

                                localStorage.setItem("user_data", JSON.stringify(user));
                                localStorage.setItem("is_login","true");
                            }
                        }
                    });
                    if (!this.is_login) {
                        alert("verifique su informacion")
                    }
                },
                edit(target){
                    this.action='edit';
                    this.new_user.name = target.name;
                    this.new_user.email = target.email;
                    this.new_user.company_name = target.company_name;
                    this.new_user.id = target.id;
                },
                save(action){

                    let company =[];
                    company.name = this.new_user.company_name;
                    this.new_user.company = company;

                    if(action == 'create'){

                    this.new_user.id = microtime = (Date.now()%1000)/1000;

                    this.users.push(this.new_user)
                    this.new_user=[];

                    alert("Registro añadido correctamente")

                }

                if(action == 'update'){
                     this.users.forEach((user)=>{
                        if(user.id == this.new_user.id){

                            user.name = this.new_user.name
                            user.email = this.new_user.email
                            user.company.name = this.new_user.company_name

                            alert("Registro actualizado correctamente")


                        }
                     })
                    

                }
                this.action='';

                }, 
                remove(id){
                    let c =0;
                    let i =0;

                    this.users.forEach((user) => {
                        if(user.id==id){
                            i=c;
                        }

                        c++;
                    })

                    this.users.splice(i,1);
                }
            }
        }).mount('#container_app_vue')
    </script>
</body>

</html>